/* .p-photo-box {
	background: #fff;
	height: 200px;
	width: 300px;
	margin: 0 auto 50px;
	display: flex;
}
two-up {
	flex: 1;
}
.light img, .dark img {
    max-width: 70vw;
} */

theme-switcher {
    --switch-color: rgb(28, 102, 171); 
    --switch-width: 60px;
    --switch-height: 34px;
    --switch-radius: 34px;
    --slider-width: 25px;
    --slider-height: 25px;
    --slider-margin: 4px 2px 0px 5px;
    --slider-transition: .4s;
    --slider-radius: 50%;
    --slider-cursor: pointer; 
    --slider-color: rgb(13, 51, 109);
    --slider-translatex-unswitched: translateX(0px);
    --slider-translatex-switched: translateX(26px);
    margin: 8px;
  }

.prashant-top-bar{
    background: var(--top_bar_bg_color, #3480c8);
    color: var(--top_bar_text_color, #e3dede);
    transition: color ease 0.3s;
    min-height: 4px;
    padding: 8px 0 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.prashant-top-bar svg{
    margin-left: 8px;
    cursor: pointer;
    fill: var(--top_bar_text_color, #e3dede);
}

.p-theme-switch{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px;
}

.prashant-brand-row{
    background: var(--brand_row_bg_color, #55a2ea);
    color: var(--brand_row_text_color, #1c1b1b);
    transition: color ease 0.3s;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prashant-pandey-tagline{
    font-family: 'Open Sans',sans-serif;
}

.prashant-brand-logo img{
    width: 80px;
    height: auto;
    border-radius: 50px;
}

.prashant-pandey-social-presence{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.prashant-pandey-social-presence a{
    color: var(--social_icons_text_color, #4a4a4a);
    transition: color ease 0.3s;
    margin: 0 12px;
    text-decoration: none;
}

.prashant-pandey-latest-adventure{
    background-color: var(--latest_adventure_bg_color, #71b6f6);
    color: var(--latest_adventure_text_color, #000000);
    transition: color ease 0.3s;
    min-height: 16px;
}

.post{
    max-width: 800px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: var(--post_divider_color, #55a2ea) 1px solid;
    word-break: break-word;
    hyphens: auto;
    z-index: 1;
}

#prashant-posts article.post:last-child{
    border-bottom: none;
}

.post-header .post-title{
    margin: 0;
}

.post .post-title a{
    color: var(--post_title_color, #50585D);
    transition: color ease 0.3s;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

.post a:hover{
    color: var(--post_anchor_hover_color, #353b3e);
    cursor: pointer;
}

.post-excerpt p {
    margin: 0.6rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
}

footer.site-footer{
    background: var(--footer_bg_color, #3480c8);
    color: var(--footer_text_color, #50585C);
    transition: color ease 0.3s;
    padding: 24px 0;
}

.prashant-pandey-social-presence a:hover{
    color: var(--social_anchor_hover_color, #091b3d);
    transform: scale(1.1);
    transition: transform ease 0.6s;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif',serif;
    background-color: var(--body_bg_color, #f7fafc);
    color: var(--body_text_color, #0e0e0e);
    transition: background ease 0.3s;
}

.pp-section {
    padding: 24px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.pp-polar-opposite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pp-section article:nth-child(n+2) {
    margin: 32px 0;
}

.article-title{
    margin: 8px 0;
}

.pp-tech-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.pp-tech-section span {
    border: #ddd3d3 1px solid;
    padding: 4px 8px;
    margin: 0 4px;
}

a {
    color: var(--anchor_color, #3480c8);
    transition: color ease 0.3s;
    text-decoration: none;
}