.recommendation-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recommendation {
    position: relative;
    max-width: 10em;
    background-color: #fff;
    color: #000000;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.recommendation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.recommendation-details .recommender {
    display: flex;
}

.recommendation-details .recommender svg {
    height: 2em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 0.4em;
}

.recommendation-details .recommender svg path{
    fill: #ffffff;
}

.recommendation-details .recommender div span{
    font-size: 0.8em;
}